<body>
  <mat-card class="example-card">
    <div class="example-button-row">
      <button mat-flat-button color="primary">Cadastro de Pacientes</button>
    </div>
    <br />
    <mat-card-content>
      <p>
        Área de cadastro dos pacientes. Neste ambiente você poderá realizar a
        inclusão, alteração ou remoção de algum paciente que desejar.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card2">
    <div class="example-button-row">
      <button mat-flat-button color="primary">Agendamento</button>
    </div>
    <br />
    <mat-card-content>
      <p>
        Ambiente de Agendamento. Você poderá visualizar a agenda dos próximos
        pacientes com consulta marcada.
      </p>
    </mat-card-content>
  </mat-card>
  <div class="botao-sair">
    <button mat-flat-button color="warn">Sair</button>
  </div>
</body>
